@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");


body {
  display: flex;
  justify-content: center;
  background-color: #171d2e;
  font-family: "Noto Sans KR", sans-serif;
}
.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 405px;
  background-color: transparent;
  padding: 60px 0;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile .image {
  width: 103px;
  height: 103px;
  border-radius: 15%;
  margin-bottom: 25px;
}

.profile .name,
.description {
  margin: 0;
  padding: 0;
  color: #fff;
}

.profile .name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
.profile .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.horizontal-rule {
  width: 60%;
  height: 1px;
  border: 0;
  background-color: #fff;
  margin: 30px auto 50px;
}
.external {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
  gap: 15px;
}
.external .link {
  cursor: pointer;
}

.buttons {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
}

.buttons .button {
  width: 100%;
  height: 54px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 10px;

  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}


.text {
  color: #ffffff;
  text-align: center;
}
.text .small {
  font-size: 14px;
}
.text .big {
  font-size: 20px;
  font-weight: 700;
}


.photo {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.photo img {
  width: 100%;
  height: 228px;

  object-fit: cover;
  border-radius: 10px;
}


.youtube {
  width: 100%;
  height: 230px;
  padding: 30px 0;
}
.youtube iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}