<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>도서 목록</title>
</head>
<body>
<h1>도서 목록</h1>
<p><a href="/books/new">새 도서 등록하기</a></p>


<table border="1" cellpadding="6">
  <thead>
  <tr>
    <th>ID</th>
    <th>제목</th>
    <th>저자</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="b : ${books}">
    <td th:text="${b.id}">1</td>
    <td><a th:href="@{'/books/' + ${b.id}}" th:text="${b.title}">제목</a></td>
    <td th:text="${b.author}">저자</td>
  </tr>
  </tbody>
</table>

</body>
</html>
